<h1>Plans</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.name %></td>
        <td><%= number_to_currency(plan.price) %></td>
        <td><%= plan.description %></td>
        <td>
          <%= link_to 'Subscribe', subscriptions_path(plan_id: plan.id), method: :post, class: 'btn btn-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Subscriptions', subscriptions_path, class: 'btn btn-primary' %>
